body {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Establece la altura mínima del cuerpo para llenar la ventana verticalmente */
    margin: 0;
}

main {
    flex: 1; /* Hace que el contenido principal se expanda y ocupe todo el espacio disponible */
}


